<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

  <p>
    Splurty was built by <a target="_blank" href="https://github.com/Sapho801">O'Hene</a>. Spirited software developer by day and dormant by night, and by dormant I mean literally sleeping . . . like out cold.   
  </p>
  <p>
    Together, O'Hene and his devoted alter-ego "Ohene" have crafted the most wonderful wares, soft as they may be. Indulge!
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>

  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'sulfportret.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">O'Hene</h2>
      <br />
        <p>
          O'Hene is a budding web and software developer, and he has also cracked the code to life (it's eggnog). 
        </p>
    </div>
  </div>

</div>

<br class="clear" />

<br />

<br />

<br />

<br />